.header {
  // background-color: red;
  width: 100%;
  height: 100vh;
  font-size: $default-font-size-2;
  position: relative;
  background-image: url("../../../src/assets/bg-slide_2.png");

  &__navigation {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 2rem $p-8;
    &--wrapper:nth-child(1) {
      font-size: 3rem;
    }
    &--wrapper:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $default-font-size-2;
      // font-weight: bold;
      font-family: "Sora";
      font-weight: 600;
      // font-style: normal;
    }
    &--link {
      text-decoration: none;
      color: $black-color;
      font-size: $default-font-size-2;
    }
    &--item {
      // display: none;
      list-style-type: none;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
    &--button {
      outline: none;
      border: none;
      padding: 1rem 2rem;
      &:hover {
        cursor: pointer;
        background-color: $main-color;
        color: #fff;
        border-radius: 1rem;
        transition: all 0.3s;
      }
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  &__center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    // background-color: red;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: column;
    padding: 0 $p-8;
    // height: inherit;
    // height: inherit;
    // height: calc(100% - (100vh - 100%));
    &--search {
      position: absolute;
      width: 50%;
      padding: 2rem;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
      .search__wrapper {
        &:nth-child(1) {
          padding: 1.5rem;
          background-color: $color-gray;
          flex-basis: 70%;
          input {
            border: none;
            background-color: transparent;
            margin-left: 1rem;
            outline: none;
          }
        }
        &:nth-child(2) {
          // background-color: yellow;
          flex-basis: 25%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          width: 100%;
          position: relative;
          padding: 1rem;
          .icon__search {
            position: absolute;

            // width: 100%;
            margin: 0;
            right: 0;
            padding: 1rem;
            height: inherit;
            display: flex;
            font-size: 2rem;
            color: white;
            font-weight: bolder;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: $main-color;
            border-radius: 10px;
          }

          p {
            display: inline-block;
            color: $black-color;
            font-weight: 600;
            // background: green;
          }
        }
        &--setting {
          margin-right: 5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          width: 100%;
          position: relative;
          cursor: pointer;
          transition: all 0.5s ease;
          &:hover * {
            color: $main-color !important;
          }
          // padding: 1rem;
        }
      }
    }
    &--left,
    &--right {
      width: 50%;
      height: 100%;
    }
    &--right {
      display: flex;
      height: 50rem;
    }
    &--img {
      border-radius: 30px;
      padding: 1rem; // display: none;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      img {
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        background-position: center;
        background-size: cover;
        // display: none !important;
      }
      // *{
      //   flex-basis: 50%;
      //   flex-grow: 1;
      //   flex-shrink: 1;

      // }
      // img{
      //     height: 50%;
      // padding: 1rem;
      //     // display: none;
      //     // display: none;
      //     overflow: hidden;
      //     // overflow: HI;
      // }
    }
    &--img:nth-child(1) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--title {
      font-size: 4rem;
      color: $black-color;
      width: 100%;
    }
    &--img {
      width: 100px;
    }
  }
}

.icon {
  &__house,
  &__setting,
  &__search {
    color: $black-color;
    font-size: 2rem;
    display: inline-block;
    &:hover {
      cursor: pointer;
      color: $main-color;
    }
  }
}

// EXPLANATION

.explanation {
  margin: 5rem $p-8;

  // background-color: red;
  position: relative;
  display: flex;
  justify-content: space-between;
  &__wrapper {
    flex-basis: 50%;
    height: 100%;
    position: relative;
    &:nth-child(1) {
      border-radius: 20px;
      background-image: url("../../../src/assets/banner.png");
      position: relative;
      height: 40rem;
    }
    &:nth-child(2) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0rem 2rem;
      gap: 1rem;
      // padding: 3rem;
      flex-wrap: wrap;
    }
    &--text {
      width: 50%;
      margin: 5rem;
      color: $black-color;
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 1rem;
      }
    }
    &--button {
      outline: none;
      border: none;
      padding: 1rem 2rem;
      background-color: $main-color;
      color: #fff;
      border-radius: 1rem;
      transition: transform 0.3s ease;
      margin-top: 1rem;
      &:hover {
        cursor: pointer;
        // color: #fff;
        transform: translateY(-3px);
      }
    }
  }
}

// SECTION 3
.house {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  gap: 2rem;
  flex-wrap: wrap;
  .rent {
    transition: all 0.5s ease;
    &:hover {
      cursor: pointer;
      transform: translateY(-15px);
    }

    flex-basis: 32%;
    // width: 37rem;
    height: 32rem;
    border-radius: 15px;
    position: relative;
    &__image {
      border-radius: 15px;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      z-index: 0;
    }
    &__wrapper {
      z-index: 500;
      position: absolute;
      padding: 2rem;
      width: 100%;
      bottom: 0;
      width: 100%;

      &--container {
        background-color: white;
        width: 100%;
        padding: 2rem;
        color: $black-color !important;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
      }
      &--title {
        color: $black-color !important;
        font-size: 1.4rem;
      }
      &--description {
        color: #717171;
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 1rem;
      }
      &--price {
        border: 1px solid $black-color;
        border-radius: 5px;
        padding: 1rem;
      }
    }
  }
}

// NUMBERS
.find {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8rem;
  gap: 3rem;
  &__wrapper {
    &:nth-child(1) {
      flex-basis: 50%;
    }
    &--title {
      font-size: 4rem;
    }
    &--description {
      font-size: 1.4rem;
      font-weight: 400;
      margin-top: 2rem;
      color: #717171;
    }
    &--button {
      outline: none;
      border: none;
      padding: 1rem 2rem;
      background-color: $main-color;
      color: #fff;
      border-radius: 1rem;
      transition: transform 0.3s ease;
      margin-top: 2rem;
      &:hover {
        cursor: pointer;
        // color: #fff;
        transform: translateY(-3px);
      }
    }
    &--numbers {
      margin-top: 3rem;
      display: flex;
      justify-content: space-between;
      // padding:0 2rem;
      // width: ;
      text-align: center;
      align-items: center;
    }
    &--number {
      font-size: 3rem;
      color: $black-color;
    }
    &--explanation {
      font-size: 1.4rem;
      font-weight: 400;
      color: #717171;
    }
    &:nth-child(2) {
      flex-basis: 50%;
      background-image: url("../../../src/assets/images/MAP_2.jpg");
      height: 50rem;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;

      // border-bottom: 1px solid #f7f7f7;
      // padding: 8rem 16rem ;
    }
  }

  // background-image: url("../../../src/assets/images/MAP_1.jpg");
  // height: 60vh;
  // overflow: hidden;
  // background-size: cover;
  // background-position: center;
  // width: 100%;
  // object-fit: cover;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // // border-bottom: 1px solid #f7f7f7;
  // // padding: 8rem 16rem ;
  // text-align: center;
}

.types {
  margin-top: 5rem;
  .type {
    height: 23.8rem;
    border-radius: 15px;
    position: relative;
    &__image {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 5;

      &__image::before {
      }
    }
    &__wrapper {
      position: absolute;
      z-index: 150;
      top: 15%;
      left: 50%;
      // background-color: red;
      width: 100%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 400;
      color: $black-color;
    }
  }
}
.testimonials {
  padding: 3rem 8rem;
  &__header {
    font-size: 1.4rem;
    &--title {
      font-size: 3rem;
    }
    &--description {
      font-size: 1.4rem;
      font-weight: 400;
      // color: #717171;
      margin-top: 1rem;
    }
  }
  &__wrapper {
    margin-top: 5rem;
  }
  &__card {
    cursor: pointer;
    padding: 3rem;
    border: 1px solid #d6d4d4;
    border-radius: 15px;
    transition: all 0.3s ease;
    position: relative;
    transition: all 0.3s ease;
    &:hover {
      border: 1px solid $main-color;
    }
    &::before {
      position: absolute;
      content: "";
      // top: 0;
      left: 0;
      bottom: 0;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      width: 0;
      height: 1rem;
      opacity: 0;
      // border: 1px solid red;
      background-color: rgba(0, 0, 0, 0.3);
      // opacity: 0;
      transition: all 0.3s ease;
    }
    &:hover:before {
      opacity: 1;
      width: 100%;
      background-color: $main-color;
    }
    &:hover {
      // z-index: 100;
      // box-shadow: 26px -16px 279px -16px rgba(0,0,0,0.44);
      // -webkit-box-shadow: 26px -16px 279px -16px rgba(0,0,0,0.44);
      // -moz-box-shadow: 26px -16px 279px -16px rgba(0,0,0,0.44);
    }
  }
  &__users {
    position: relative;
    display: flex;
    align-items: center;
    &--img {
      overflow: hidden;
      width: 100%;
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      border-radius: 50%;
      display: inline-block;
    }
    &--description {
      margin-left: 2rem;
      font-size: 1.4rem;
    }
    &--text {
      font-weight: 600;
    }
    &--role {
      margin-top: 0.5rem;
      font-size: 1.2rem;
      color: #717171;
    }
  }
  &__content {
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 2em;
    font-weight: 400;
  }
  &__icon {
    font-size: 3rem;
    color: #dfdfdf;
    position: absolute;
    right: 10%;
  }
}
.newsletter {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 8rem;
  &__wrapper {
    &:nth-child(1) {
      font-size: 1.4rem;
    }
    &:nth-child(2) {
      flex-basis: 40%;
      background-color: white;
      padding:.5rem 1rem;
      display: flex;
      border-radius: 10px;
      justify-content: space-between;
      align-items: center;
      -webkit-box-shadow: 0px -1px 26px -4px rgba(0,0,0,0.52);
      -moz-box-shadow: 0px -1px 26px -4px rgba(0,0,0,0.52);
      box-shadow: 0px -1px 26px -4px rgba(0,0,0,0.52);
    }
  }
  &__title {
    font-size: 3rem;
  }
  &__description {
    color: #717171;
  }
  &__input {
    outline: none;
    border: none;
    
    // border-radius: 1rem;
    width: 80%;
    font-size: 1.4rem;
  
  }
  &__button {
    padding: 1rem;
    background-color: $main-color;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    cursor: pointer;

  }
}
.footer {
  background-color: #181A20;
  color: #fff;
  font-size: $default-font-size-2;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
  &--row{
    flex-basis: 20%;
  }
  }
  
  &__header{
    margin-bottom: 25px;
    font-size: $default-font-size;
  }
  &__item{
    list-style-type: none;
    color: #A9A9AB;
    position: relative;
    &:not(:last-child){
      margin-bottom: 15px;
      
    }
    &--button{
      width: 100%;
      padding: 1rem;
    background-color: $main-color;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
      // @include boutton($default-font-size-2,$color-primary);
      transition: .2s ease;
      &:hover{
        transform: translateY(-5px);
      }
    }
    &--link{
      color: inherit;
      text-decoration: none;
    }
  }
  &__social{
    display: flex;
    justify-content: space-between;
    &--item{
      font-size: large;
      cursor: pointer;
      transition: .5s ease;
      &:hover{
        opacity: .5;
      }
    }
  }
  &__bottom{
    padding: 40px 100px;
    display: flex;
    // color: $footer-second-color;
    // font-size: $default-font-size-2;
    justify-content: space-between;
  }
}