.layout {
  margin: 8rem $p-8;
//   background: green;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 2rem;
    &--text {
      color: $black-color;
    }
    &--title {
      font-size: 2rem;
    }
    &--description{
      font-size: 1.4rem;
      font-weight: 400;
      margin-top: 1rem;
    }
    &--link{
      text-decoration: none;
      color: $black-color;
      font-size: 1.4rem;
      font-weight: 600;
      transition: all 0.5s ease;
      &:hover{
        transform: translateY(-3px);
      }
    //   margin-top: 1rem;

    }
  }
}
